#calculator {
    border: 2px solid black;
    width: 450px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 10px;
    background-color:palegoldenrod;
}

#frame {
    width: 400px;
    height: 600px;
    margin: auto auto auto auto;
    margin-top: 25px;
}

#screen {
    border: 1px solid black;
    width: 350px;
    height: 100px;
    margin: auto;
    margin-top: 60px;
    background-color:lightgray;

}

#numpad {
    width: 350px;
    height: 400px;
    margin: auto;
    margin-top:50px;
    justify-content: center;
    justify-items: center;
}

button {
    width: 80px;
    height: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    
    
}

#buttons {
    justify-content: center;
    justify-items: center;
    text-align: center;

}